@model ExpoTrack.Models.Firmalar

@{
    ViewData["Title"] = "DETAY";
}

<h1>Detaylar</h1>

<div>
    <h4>Firmalar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebSitesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebSitesi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
